
body{
    background-color:#1A1F27;
}

.home{
    width:375px;
    margin : 0 auto;
    margin-top:100px;
    padding-top: 100px;
    .homeCircleWrap{
        width:80%;
        margin:0 auto;
        display:flex;
        text-align: center;
        justify-content: space-between;
        // width: 375px;
        // margin : 0 auto;
        .homeCircle{
            border-radius: 50%;
            width: 60px;
            height:60px;
            &1{
                border: 1px solid #ff0061;
                background-color: #ff0061;
            }
            &2{
                border: 1px solid #3054FF;
                background-color: #3054FF;

            }
            &3{
                border: 1px solid #1FCBF9;
                background-color: #1FCBF9;

            }
        }
    }
    .homeTitleWrap{
        margin-top: 50px;
        width:100%;
        height: 130px;
        display:flex;
        text-align: center;
        justify-content: center;
        align-items: center;

        .homeTitle{
            font-size: 80px;
            color:white;
            font-weight: bold;
            &Period{
                font-size: 120px;
                color:#ff0061;
            }
        }
    }
    .homeSubTitleWrap{
        width:100%;
        // height: 150px;
        display:flex;
        text-align: center;
        justify-content: center;
        // align-items: center;
        .homeSubTitle{
            font-size:35px;
            color:white;
            font-weight: 100;

        }
    }
    .homeMainBtnWrap{
        width:100%;
        display:flex;
        text-align: center;
        justify-content: center;   
        margin-top: 50px;
        .homeMainBtn{
            width : 150px;
            padding : 15px 10px;
            border: 1px solid #ff0061;
            background-color:#ff0061;
            border-radius: 15px;
            font-weight: bold;
            font-size: 20px;
            color:white;
            cursor: pointer;
        }
    }
}
