body {
    background-color: #f2f4f5;
}

.packPick {
    display: table-cell;
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
    background-image: inherit;
    position: relative;
    overflow: hidden;
    text-align: center;
    .packPickTitleWrap {
        width: 1000px;
        margin: 0 auto;
        text-align: left;

        .packPickTitle {
            font-size: 40px;
            font-weight: 900;
            &Period {
                font-size: 40px;
                color: #ff0061;
            }
        }
    }
    // .packPickSubTitleWrap {
    //     .packSubTitle {
    //     }
    // }
    .packPickCategoryTitle {
        width: 1000px;
        padding-top: 50px;
        text-align: left;
        font-weight: 800;
        font-size: 23px;
        margin: 0 auto;
    }
    .packPickCategoryWrap {
        width: 1000px;
        margin: 0 auto;
        display: flex;
    }

    .packPickItemTitle {
        width: 1000px;
        padding-top: 50px;
        text-align: left;
        font-weight: 800;
        font-size: 23px;
        margin: 0 auto;
    }
    .packPickItemWrap {
        max-width: 1000px;
        display: flex;
        flex: 0 1 1080px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 25px auto 40px;
    }
}
